/public/hot
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor
rr
.rr.yaml
.idea
/resources/lang/ar/awt.php
/resources/lang/en/awt.php